<html>

<head>
    <title>Form Page</title>
</head>

<body>
    <h1>Submit Your Information</h1>
    <form action="http://127.0.0.1:5000/register" method="post">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name"><br><br>

        <label for="mobile">Mobile:</label>
        <input type="tel" id="mobile" name="mobile"><br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br><br>

        <input type="submit" value="Submit">
    </form>
</body>

</html>